html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #222;
  font-size: large;
}

@media (max-width: 1024px) {
  html {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  html {
    font-size: small;
  }
}

@media (max-width: 480px) {
  html {
    font-size: x-small;
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
}
