html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #222;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  background-color: #ffffff;
}